@import '@core/scss/base/bootstrap-extended/include'; // Bootstrap includes
@import '@core/scss/base/pages/page-auth.scss';
.auth-help-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

.text-primary {
    color: #385e8c !important;
}

.btn-primary {
    color: #385e8c !important;
}

.btn-primary:hover {
    background-color: #385e8c !important;
    box-shadow: 0 8px 25px -8px white !important;
    color: white !important;
    border-color: #385e8c !important;
}
img {
    max-width: 100%;
    height: auto;
}