@import '@core/scss/base/pages/app-ecommerce-details.scss';
@import '@core/scss/angular/libs/swiper.component.scss';
@import '@core/scss/angular/libs/ratings.component.scss';
@import '@core/scss/base/pages/page-misc.scss';
.iso-moneda {
    background: url(../../../assets/images/moneda.svg) no-repeat;
    background-size: contain;
    height: 25px;
    width: 25px;
    display: inline-block;
    vertical-align: middle;
}

.text-primary {
    color: #385e8c !important;
}

.btn-primary {
    color: #385e8c !important;
}

.btn-primary:hover {
    background-color: #385e8c !important;
    box-shadow: 0 8px 25px -8px white !important;
    color: white !important;
    border-color: #385e8c !important;
}