<div class="content-wrapper">
    <!-- <div class="content-header row">
        <div class="col-12 mb-2">
            <div class="row breadcrumbs-top">
                <div class="col-12">
                    <h2 class="content-header-title float-left mb-0">Calificar compras</h2>
                    <div class="breadcrumb-wrapper">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="text-primary" href="index.html">Inicio</a>
                            </li>
                            <li class="breadcrumb-item"><a class="text-primary" href="mis-facturas.html">Calificar
                                    compras</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="content-body">
        <!-- users list start -->
        <section class="app-user-list">
            <!-- <div class="card">
                <div class="card-header">
                    <h4 class="text-primary d-block">Califica aquí tus compras, por cada compra que califiques reciben 10 super monedas.</h4>
                </div>
            </div> -->
            <!-- <div class="card">
                <div class="card-header">
                    <h6 class="d-block">Filtros de búsqueda</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i data-feather='calendar'></i></span>
                                    </div>
                                    <input type="text" class="form-control form-control-sm flatpickr-range flatpickr-input" placeholder="- Rango de fechas">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div> -->

            <!-- users filter end -->
            <!-- list section start -->
            <div class="card">
                <div class="row m-75">
                    <div class="col-lg-12 col-xl-6">
                        <label>Mostrar</label>
                        <select class="form-control-sm" [(ngModel)]="page_size" (change)="obtenerListaUsuarios()">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>

                    </div>
                    <div class="col-lg-12 col-xl-6 text-right">
                        <a (click)="toggleSidebar('guardarUsuario','')" class="btn btn-primary">
                            Añadir usuario
                        </a>
                    </div>
                </div>
                <div class="card-datatable table-responsive pt-0">

                    <table class="user-list-table table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th>Email</th>
                                <th>Rol</th>
                                <th>Empresa</th>
                                <th>Dirección de empresa</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of listaUsuarios">
                                <td>
                                    {{usuario.email}}
                                </td>
                                <td>
                                    <p *ngFor="let rol of usuario.roles">
                                        {{rol.nombre}}
                                    </p>
                                </td>

                                <td>
                                    {{usuario.empresa? usuario.empresa.nombreEmpresa :''}}
                                </td>
                                <td>
                                    {{ usuario.empresa? usuario.empresa.direccion : ''}}
                                </td>
                                <td>
                                    <div class="badge {{usuario.estado == 'Activo' ? 'badge-success':'badge-warning'}}">
                                        {{usuario.estado}}
                                    </div>
                                </td>
                                <td>
                                    <a href="javascript:void(0);" container="body" placement="top" ngbTooltip="Editar" (click)="toggleSidebar('guardarUsuario',usuario._id)"><i class="mr-1" size="18"
                                            data-feather="edit"></i></a>
                                    <a href="javascript:void(0);" container="body" placement="top" ngbTooltip="Eliminar" (click)="eliminarUsuarioModal(usuario._id)"><i class="mr-1" size="18"
                                            data-feather="trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Modal to add new user starts-->
                <ngb-pagination #paginator [collectionSize]="collectionSize" [(page)]="page" [(pageSize)]="page_size" [maxSize]="5" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
                <!-- Modal to add new user Ends-->
            </div>
            <!-- list section end -->
        </section>
        <!-- users list ends -->
    </div>
</div>
<core-sidebar class="modal modal-slide-in sidebar-todo-modal fade" name="guardarUsuario" overlayClass="modal-backdrop">
    <div class="slideout-content">
        <!-- Modal to add new user starts-->
        <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
            <div class="modal-dialog">
                <form class="add-new-user modal-content pt-0" [formGroup]="usuarioForm">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="toggleSidebar('guardarUsuario',0)">
                        ×
                    </button>
                    <div class="modal-header mb-1">
                        <h5 class="modal-title" id="exampleModalLabel">Nuevo Usuario</h5>
                    </div>
                    <div class="modal-body flex-grow-1">
<!--                        <div class="form-group">-->
<!--                            <label>Buscar empresa</label>-->

<!--                            <div class="row">-->
<!--                                <div class="col-md-10"><input class="form-control" type="text" name="ruc" [ngModelOptions]="{standalone: true}" [(ngModel)]="ruc"></div>-->

<!--                                <div class="col-md-1">-->
<!--                                    <button class="btn btn-primary" (click)="obtenerListaEmpresas()">-->
<!--                                        <i data-feather='search' ></i>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <label>Empresa</label>-->
<!--                            <select class="form-control" name="empresa" formControlName="empresa" [(ngModel)]="usuario.empresa" (change)="cambiarTipoUsuario()">-->
<!--                                <option value="">- Seleccione -</option>-->
<!--                                <option value="{{empresa._id}}" *ngFor="let empresa of listaEmpresas">{{empresa.nombreEmpresa}}</option>-->
<!--                            </select>-->
<!--                            <div *ngIf="usuarioSubmitted && usuForm.empresa.errors" class="invalid-feedback" style="display: block;">-->
<!--                                <div *ngIf="usuForm.empresa.errors.required">Empresa es requerida-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" name="email" formControlName="email" type="text" [(ngModel)]="usuario.email">
                            <div *ngIf="usuarioSubmitted && usuForm.email.errors" class="invalid-feedback" style="display: block;">
                                <div *ngIf="usuForm.email.errors.required">Email es requerido
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Nombres</label>
                            <input class="form-control" name="nombres" formControlName="nombres" type="text" [(ngModel)]="usuario.nombres">
                            <div *ngIf="usuarioSubmitted && usuForm.nombres.errors" class="invalid-feedback" style="display: block;">
                                <div *ngIf="usuForm.nombres.errors.required">Nombres son requeridos
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Apellidos</label>
                            <input class="form-control" name="apellidos" formControlName="apellidos" type="text" [(ngModel)]="usuario.apellidos">
                            <div *ngIf="usuarioSubmitted && usuForm.apellidos.errors" class="invalid-feedback" style="display: block;">
                                <div *ngIf="usuForm.apellidos.errors.required">Apellidos son requeridos
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Teléfono</label>
                            <input class="form-control" name="telefono" formControlName="telefono" type="text" [(ngModel)]="usuario.telefono">
                            <div *ngIf="usuarioSubmitted && usuForm.telefono.errors" class="invalid-feedback" style="display: block;">
                                <div *ngIf="usuForm.telefono.errors.required">Teléfono es requerido
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>WhatsApp</label>
                            <input class="form-control" name="whatsapp" formControlName="whatsapp" type="text" [(ngModel)]="usuario.whatsapp">
                            <div *ngIf="usuarioSubmitted && usuForm.whatsapp.errors" class="invalid-feedback" style="display: block;">
                                <div *ngIf="usuForm.whatsapp.errors.required">Whatsapp es requerido
                                </div>
                            </div>
                        </div>
<!--                        <div class="form-group">-->
<!--                            <label>Cargo</label>-->
<!--                            <select class="form-control" name="cargo" formControlName="cargo" [(ngModel)]="usuario.cargo">-->
<!--                                <option value="">- Seleccione -</option>-->
<!--                                <option *ngFor="let cargoOp of tipoCargoOpciones" value="{{cargoOp.valor}}">{{cargoOp.nombre}}</option>-->
<!--                        -->
<!--                            </select>-->
<!--                            <div *ngIf="usuarioSubmitted && usuForm.cargo.errors" class="invalid-feedback" style="display: block;">-->
<!--                                <div *ngIf="usuForm.cargo.errors.required">Cargo es requerido-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="form-group">
                            <label>Fecha Nacimiento</label>
                            <ng2-flatpickr [setDate]="fecha" formControlName="fechaNacimiento" [config]="startDateOptions" [(ngModel)]="usuario.fechaNacimiento"></ng2-flatpickr>
                            <div *ngIf="usuarioSubmitted && usuForm.fechaNacimiento.errors" class="invalid-feedback" style="display: block;">
                                <div *ngIf="usuForm.fechaNacimiento.errors.required">Fecha de nacimiento es requerida
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Género</label>
                            <select class="form-control" name="genero" formControlName="genero" [(ngModel)]="usuario.genero">
                                <option value="">- Seleccione -</option>
                                <option *ngFor="let generoOp of tipoGeneroOpciones" value="{{generoOp.valor}}">{{generoOp.nombre}}</option>
                        
                            </select>
                            <div *ngIf="usuarioSubmitted && usuForm.genero.errors" class="invalid-feedback" style="display: block;">
                                <div *ngIf="usuForm.genero.errors.required">Cargo es requerido
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group" *ngIf="idUsuario==''">
                                                    <label>Contraseña</label>
                                                    <input class="form-control" name="password" formControlName="password" type="password" [(ngModel)]="usuario.password">
                                                    <div *ngIf="usuarioSubmitted && usuForm.password.errors" class="invalid-feedback" style="display: block;">
                                                        <div *ngIf="usuForm.password.errors.required">Contraseña es requerida
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group" *ngIf="idUsuario==''">
                                                    <label>Repetir contraseña</label>
                                                    <input class="form-control" name="passwordConfirm" formControlName="passwordConfirm" type="password">
                                                    <div *ngIf="usuarioSubmitted && usuForm.passwordConfirm.errors" class="invalid-feedback" style="display: block;">
                                                        <div *ngIf="usuForm.passwordConfirm.errors.required">Contraseña es requerida
                                                        </div>
                                                    </div>
                                                    <div *ngIf="usuarioSubmitted && usuarioForm.errors" class="invalid-feedback" style="display: block;">
                                                        <div *ngIf="usuarioForm.errors.diffPassword">Las contraseñas no coinciden
                                                        </div>
                                                    </div>
                                                </div> -->
                        <div class="form-group">
                            <label>Rol</label>
                            <select class="form-control" name="roles" formControlName="roles" [(ngModel)]="usuario.roles">
                                <option value="">- Seleccione -</option>
                                <option value="{{rol.nombre}}" *ngFor="let rol of listaRoles">{{rol.nombre}}</option>
                            </select>
                            <div *ngIf="usuarioSubmitted && usuForm.roles.errors" class="invalid-feedback" style="display: block;">
                                <div *ngIf="usuForm.roles.errors.required">Rol es requerido
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Estado</label>
                            <select class="form-control" name="estado" formControlName="estado" [(ngModel)]="usuario.estado">
                                <option value="">- Seleccione -</option>
                                <option value="Activo">Activo</option>
                                <option value="Inactivo">Inactivo</option>
                            </select>
                            <div *ngIf="usuarioSubmitted && usuForm.estado.errors" class="invalid-feedback" style="display: block;">
                                <div *ngIf="usuForm.estado.errors.required">Estado es requerido
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary mr-1" [disabled]="cargandoUsuario" (click)="guardarUsuario()"> <span
                                *ngIf="cargandoUsuario" class="spinner-border spinner-border-sm mr-1"></span>Guardar</button>
                        <button (click)="toggleSidebar('guardarUsuario','')" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button> </div>
                </form>
            </div>
        </div>
        <!-- Modal to add new user Ends-->
    </div>

</core-sidebar>
<ng-template #mensajeModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Mensaje</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss( 'Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div [innerHTML]="mensaje"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="cerrarModal()">Cerrar</button>
    </div>
</ng-template>
<ng-template #eliminarUsuarioMdl let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Mensaje</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss( 'Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Confirma eliminar</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="eliminarUsuario()">SI</button>
    </div>
</ng-template>
