<div class="content-body">
    <!-- users list start -->
    
    <!-- users list ends -->
</div>
<ng-template #DetalleProducto let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Detalle de producto</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <div class="row p-2">
            <div class="col-md-8">
                <div class="card plan-card border-primary">
                    <div class="card-body">
                        <div class="item-heading">
                            <h6 class="text-truncate mb-0 text-info">{{producto.nombre}}</h6>
                            <small class="text-body d-block">by {{producto.marca}}</small>
                        </div>
                        <div class="img-container w-50 mx-auto py-50">
                            <img width="200px" [src]="producto.imagen" class="img-fluid" alt="image" />
                        </div>
                        <hr />
                        <div class="item-meta">
                            <p class="card-text text-secondary small mb-0">Precio normal: ${{producto.precioNormal}}</p>
                            <h6 class="mt-1">Precio super monedas:</h6>
                            <h6 class="mt-1 text-info">
                                <div class="iso-moneda"></div>
                                {{ producto.precioSupermonedas }} super monedas + ${{ producto.efectivo }}
                            </h6>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h6 class="mb-2">Donde aplica</h6>
                <h4 class="mb-2 text-primary">{{producto.empresa}}</h4>
                <p class="card-text mb-0">Local: {{producto.local}}</p>
                <p class="card-text mb-0">Ciudad: {{producto.ciudad}}</p>
                <p class="card-text mb-0">Vigencia: {{producto.vigencia}}</p>
                <hr />
                <div class="text-center">
                    <button class="btn btn-primary" type="button" data-target="#buy" data-toggle="modal"
                        data-dismiss="modal" aria-label="Close" (click)="comprarProducto()">Comprar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</ng-template>
<ng-template #CanjearProducto let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Detalle de producto</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <div class="row p-2">
            <div class="col-md-6">
                <div class="card plan-card border-primary">
                    <div class="card-body">
                        <div class="item-heading">
                            <h6 class="text-truncate mb-0 text-info">{{producto.nombre}}</h6>
                            <small class="text-body d-block">by {{producto.marca}}</small>
                        </div>
                        <div class="img-container w-50 mx-auto py-50">
                            <img width="200px" [src]="producto.imagen" class="img-fluid" alt="image" />
                        </div>
                        <hr />
                        <div class="item-meta">
                            <p class="card-text text-secondary small mb-0">Precio normal: ${{producto.precioNormal}}</p>
                            <h6 class="mt-1">Precio super monedas:</h6>
                            <h6 class="mt-1 text-info">
                                <div class="iso-moneda"></div>
                                {{ producto.precioSupermonedas }} super monedas + ${{ producto.efectivo }}
                            </h6>
                            <div class="text-center mt-1">
                                <img src="assets/images/barras.jpeg" width="180">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p class="text-primary">Descarga o imprime este documento y acércate al local para que
                    puedas cajear tu producto.</p>
                <h4 class="mb-2 text-primary">{{producto.empresa}}</h4>
                <p class="card-text mb-0">Local: {{producto.local}}</p>
                <p class="card-text mb-0">Ciudad: {{producto.ciudad}}</p>
                <p class="card-text mb-0">Vigencia: {{producto.vigencia}}</p>
                <hr />
                <hr />
                <div class="text-center">
                    <small class="d-block">Código QR de promoción</small>
                    <img src="assets/images/qr.png" width="180" class="mb-2">
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="button">Imprimir</button>
                    <button class="btn btn-info" type="button">Descargar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</ng-template>