<div class="auth-wrapper auth-v1 px-2">
    <div class="auth-inner py-2">
        <!-- Forgot Password v1 -->
        <div class="card mb-0">
            <div class="card-body">
                <a href="javascript:void(0);" class="brand-logo">
                    <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" width="250" />
                </a>

                <h4 class="card-title mb-1">¿Olvisaste tu contraseña? 🔒</h4>
                <p class="card-text mb-2">Ingresa tu correo para recuperar tu contraseña</p>
                <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
                    <div class="alert-body">
                        <p>{{ error}}</p>
                    </div>
                </ngb-alert>
                <form class="auth-forgot-password-form mt-2" [formGroup]="forgotPasswordForm" (ngSubmit)="resetearPassword()">
                    <div class="form-group">
                        <label for="forgot-password-email" class="form-label">Correo</label>
                        <input type="text" class="form-control" placeholder="nombre@ejemplo.com" formControlName="email" aria-describedby="forgot-password-email" tabindex="1" autofocus [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Correo es requerido</div>
                            <div *ngIf="f.email.errors.email">Debe ingresar una dirección de correo válida</div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" tabindex="2" rippleEffect>Enviar</button>
                </form>

                <p class="text-center mt-2">
                    <a class="text-primary" routerLink="/grp/login"> <i data-feather="chevron-left"></i>Volver</a>
                </p>
            </div>
        </div>
        <!-- /Forgot Password v1 -->
    </div>
</div>