<div class="content-wrapper">
    <!-- <div class="content-header row">
        <div class="col-12 mb-2">
            <div class="row breadcrumbs-top">
                <div class="col-12">
                    <h2 class="content-header-title float-left mb-0">Calificar compras</h2>
                    <div class="breadcrumb-wrapper">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="text-primary" href="index.html">Inicio</a>
                            </li>
                            <li class="breadcrumb-item"><a class="text-primary" href="mis-facturas.html">Calificar
                                    compras</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="content-body">
        <!-- users list start -->
        <section class="app-user-list">
            <!-- <div class="card">
                <div class="card-header">
                    <h4 class="text-primary d-block">Califica aquí tus compras, por cada compra que califiques reciben 10 super monedas.</h4>
                </div>
            </div> -->
            <!-- <div class="card">
                <div class="card-header">
                    <h6 class="d-block">Filtros de búsqueda</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i data-feather='calendar'></i></span>
                                    </div>
                                    <input type="text" class="form-control form-control-sm flatpickr-range flatpickr-input" placeholder="- Rango de fechas">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div> -->

            <!-- users filter end -->
            <!-- list section start -->
            <div class="card">
                <div class="row m-75">
                    <div class="col-lg-12 col-xl-6">
                        <label>Mostrar</label>
                        <select class="form-control-sm" [(ngModel)]="page_size" (change)="obtenerListaRoles()">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>

                    </div>
                    <div class="col-lg-12 col-xl-6 text-right">
                        <a (click)="toggleSidebar('guardarRol','')" class="btn btn-primary">
                            Añadir rol
                        </a>
                    </div>
                </div>
                <div class="card-datatable table-responsive pt-0">

                    <table class="user-list-table table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Config</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let rol of listaRoles">
                                <td>
                                    {{rol.codigo}}
                                </td>
                                <td>
                                    {{rol.nombre}}
                                </td>

                                <td>
                                    {{rol.descripcion}}
                                </td>
                                <td>
                                    {{rol.config}}
                                </td>

                                <td>
                                    <a href="javascript:void(0);" container="body" placement="top" ngbTooltip="Editar" (click)="toggleSidebar('guardarRol',rol._id)"><i class="mr-1" size="18"
                                            data-feather="edit"></i></a>
                                    <a href="javascript:void(0);" container="body" placement="top" ngbTooltip="Eliminar" (click)="eliminarRolModal(rol._id)"><i class="mr-1" size="18"
                                            data-feather="trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Modal to add new user starts-->
                <ngb-pagination #paginator [collectionSize]="collectionSize" [(page)]="page" [(pageSize)]="page_size" [maxSize]="5" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
                <!-- Modal to add new user Ends-->
            </div>
            <!-- list section end -->
        </section>
        <!-- users list ends -->
    </div>
</div>
<core-sidebar class="modal modal-slide-in sidebar-todo-modal fade" name="guardarRol" overlayClass="modal-backdrop">
    <div class="slideout-content">
        <!-- Modal to add new user starts-->
        <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
            <div class="modal-dialog">
                <form class="add-new-user modal-content pt-0" [formGroup]="rolesForm">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="toggleSidebar('guardarRol',0)">
                        ×
                    </button>
                    <div class="modal-header mb-1">
                        <h5 class="modal-title" id="exampleModalLabel">Nuevo Rol</h5>
                    </div>
                    <div class="modal-body flex-grow-1">
                        <div class="form-group">
                            <label>Código</label>
                            <input class="form-control" name="codigo" formControlName="codigo" type="text" [(ngModel)]="rol.codigo">
                            <div *ngIf="rolSubmitted && rolForm.codigo.errors" class="invalid-feedback" style="display: block;">
                                <div *ngIf="rolForm.codigo.errors.required">Código es requerido
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Nombre</label>
                            <input class="form-control" name="nombre" formControlName="nombre" type="text" [(ngModel)]="rol.nombre">
                            <div *ngIf="rolSubmitted && rolForm.nombre.errors" class="invalid-feedback" style="display: block;">
                                <div *ngIf="rolForm.nombre.errors.required">Nombre es requerido
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Descripción</label>
                            <input class="form-control" name="descripcion" formControlName="descripcion" type="text" [(ngModel)]="rol.descripcion">
                            <div *ngIf="rolSubmitted && rolForm.descripcion.errors" class="invalid-feedback" style="display: block;">
                                <div *ngIf="rolForm.descripcion.errors.required">Descripción es requerido
                                </div>
                            </div>
                        </div>
<!--                        <div class="form-group">-->
<!--                            <label>Configuración</label>-->
<!--                            <textarea class="form-control" rows="1" name="config" [ngModelOptions]="{standalone: true}" [(ngModel)]="rol.config" placeholder="{}"></textarea>-->
<!--                        </div>-->
                        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                            <!-- This is the tree node template for leaf nodes -->
                            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                                <!-- use a disabled button to provide padding for tree leaf -->
                                <input type="checkbox" formArrayName="config" [value]="node.name"
                                       [checked]="checklistSelection.isSelected(node)"
                                       (change)="todoLeafItemSelectionToggle(node)"
                                />
                                <button mat-icon-button disabled>{{node.title}}</button>

                            </mat-tree-node>
                            <!-- This is the tree node template for expandable nodes -->
                            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                                <input type="checkbox" formArrayName="config" [value]="node.name"
                                       [checked]="descendantsAllSelected(node)"
                                       [indeterminate]="descendantsPartiallySelected(node)"
                                       (change)="todoItemSelectionToggle(node)"
                                />
                                <button mat-icon-button matTreeNodeToggle
                                        [attr.aria-label]="'Toggle ' + node.name">
                                    {{ node.title}}
                                </button>
                            </mat-tree-node>
                        </mat-tree>
                        <button class="btn btn-primary mr-1" [disabled]="cargandoRol" (click)="guardarRol()"><span *ngIf="cargandoRol" class="spinner-border spinner-border-sm mr-1"></span>Guardar</button>
                        <button (click)="toggleSidebar('guardarRol','')" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Modal to add new user Ends-->
    </div>

</core-sidebar>
<ng-template #mensajeModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Mensaje</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss( 'Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div [innerHTML]="mensaje"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="cerrarModal()">Cerrar</button>
    </div>
</ng-template>
<ng-template #eliminarRolMdl let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Mensaje</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss( 'Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Confirma eliminar</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="eliminarRol()">SI</button>
    </div>
</ng-template>
